body, html{
  height: 100%;
  margin: 0;
}


#welcome{
  background-image: url('../images/divdesign.svg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 15%;

  padding-bottom: 25%;
}
#logo{
margin-left: 39%;
width: 22.5%;
}

#illust{
  background-image: url('../images/divdesign2.svg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 17.5%;
  padding-bottom: 17.5%;
}
.common-text{
  color: white;
  font-size: 20px;
  text-align: center;
}

#footer{
  background-color: #FA6300;
  padding-top: 1.5%;
}

#illust img{
  width: 25%;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  border: 5px solid white;
}

.text-col{
  border-right: 5px solid white;
}

.img-certs{
  width: 75%;
}
button{
  background-color: #FA6300;
  color: white;
}

button:hover{
  background-color: #FF9900;
}
.display-2{
  color: #f84000;
  margin: 2.5%;
}

#about{
  padding: 2.5%;
}

#about img{
  width: 100%;
}

#about p{
  font-size: 20px;
}
