body, html {
  height: 100%;
  margin: 0;
  background-image: url('../images/flower3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 2em;
}

/*for loading screen*/

.showWeb {
  display: none;
}

.loading-screen {
  width: 100%;
  overflow: hidden;
}

.loading-page {
  background-color: #e4405f;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  transition-delay: .5s;
  overflow: hidden;
  padding: 5%;
  padding-top: 7.5%;
}

.loading-page embed {
  width: 22.5em;
  height: 22.5em;
  margin: 0 auto;
  display: block;
}

.loading-page h3 {
  color: white;
  text-align: center;
  font-size: 25px;
  margin: 0 auto;
  display: block;
  font-family: 'Poiret One', cursive;
  font-weight: 900;
}

/*For the scrollbar*/

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: inherit;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #e4405f;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #e44;
}

/*General styling*/

h1, p, h2, h3 {
  text-align: center;
  animation-delay: 1s;
  animation-duration: 2s;
}

h1 {
  color: #e4405f;
  font-family: 'Poiret One', cursive;
}

.row {
  background-color: white;
}

a {
  color: white;
  margin: 1.5%;
  font-family: 'Poiret One', cursive;
  text-align: right;
  font-style: normal;
  font-weight: bolder;
}

a:hover {
  text-decoration: none;
}

#gotoflowers{
  display: block;
  text-align: center;

}

.btn{
  background-color: #e4405f;
  color: white;
  padding: 1.75%;
  font-size: 1.5em;
  font-weight: normal;
}

.btn:hover{
  background-color: #e44;
  font-weight: bold;
  -webkit-box-shadow: 2.5px 2.5px 28px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2.5px 2.5px 28px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2.5px 2.5px 28px 0px rgba(0, 0, 0, 0.75);
  transition: all .5s;
}
#welcome .row {
  background-color: inherit;
  margin-bottom: 3.75em;
  margin-top: 3.75em;
}

.img-1 {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.common-text {
  font-size: 17.75px;
}



.img {
  width: 75%;
  display: block;
  margin: 0 auto;
}
.point-1{
  padding: 2.75%;
}

.point-2{
  margin-bottom: 2.5%;
}
.point {
  padding: 5%;
  margin-bottom: 2.5%;
}

/*the menu bar css styles*/

nav .navbar {
  -webkit-box-shadow: 2.5px 2.5px 28px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2.5px 2.5px 28px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2.5px 2.5px 28px 0px rgba(0, 0, 0, 0.75);
}

img.navbar-brand {
  width: 7.25rem;
}

.navbar-light .navbar-nav .nav-link {
  color: #e4405f;
  margin: 0 auto;
  font-size: 1.25em;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 2.25rem;
  padding-left: 2.25rem;
}

.bg-light {
  background-color: white !important;
}

.nav p {
  color: black;
}

a.nav-item.nav-link {
  color: #e4405f;
  margin: 0 auto;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
}

.nav-tabs {
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  margin-top: .5%;
}

footer p {
  color: white;
  text-align: center;
}

/*card and flower tab section*/

.tab-content {
  padding: 2.5%;
  box-sizing: border-box;
}

.ico {
  width: 1.75em;
}

#welcome embed {
  width: 75%;
  height: 75%;
  margin: 0 auto;
  display: block;
}

/*showcase images in home page styles*/

.showcase {
  height: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 5%;

}

.showcase_text {
  position: absolute;
  padding: 2.5em;
  top: 0;
  background-color: #e4405f;
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: scale(.75);
  transition: all .375s;

}

.showcase_text:hover{
  opacity: .8;
  transform: scale(1);
  transition: all .375s;
}

.showcase_text h3{
  position: relative;
  display: block;
  font-weight: 300;
  background-color: black;
  color: white;
  top: 75%;

}

.showcase img {
  width: 100%;
}


/*card and modal styles in flowers.html*/

.card {
  border-radius: 15px;
  cursor: pointer;
}

.card:hover {
  -webkit-box-shadow: 0px 2px 20px -4px rgba(228, 64, 94, 1);
  -moz-box-shadow: 0px 2px 20px -4px rgba(228, 64, 94, 1);
  box-shadow: 0px 2px 20px -4px rgba(228, 64, 94, 1);
}

.modal-header {
  border: none;
}
