body, html{
  height: 100%;
  margin: 0;

}

h1, p, button{
  text-align: center;
}
.circle{
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  background-color: white;
  width: 22.5rem;
  height: 22.5rem;
  -webkit-box-shadow: 2.5px 2.5px 28px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2.5px 2.5px 28px 0px rgba(0,0,0,0.75);
box-shadow: 2.5px 2.5px 28px 0px rgba(0,0,0,0.75);
}
#welcome{
  background-image: url('../images/divdesign.svg');
  background-size: cover;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  padding-bottom: 17.75%;
  padding-top: 7.5%;
}
#logo{
display: block;
margin: 0 auto;
width: 90%;
padding-top: 25%;
padding-bottom: 25%;
}

#illust{
  background-size: cover;
  background-repeat: no-repeat;
  /*padding-left: 5%;
  padding-right: 5%;*/
}
.common-text{
  font-size: 22.5px;
  text-align: center;
}

#footer{
  background-image: url("../images/rosebg.jpg");
  background-attachment: fixed;
  padding-top: 1.5%;
  color: white;
}

#illust img{
  width: 75%;
  display: block;
  margin: 0 auto;

}


.img-certs{
  width: 75%;
}
.text-col{
  padding: 2.5%;
}
button{
  background-color: #af0606;
  color: white;
}

button:hover{
  background-color: #af0606;
}
.display-1{
  color: #af0606;
  margin: 2.5%;
  font-size: 8rem;

}

#about{
  padding: 2.5%;
  margin-bottom: 10%;
}



.point{
  padding: 5%;
  margin-bottom: 2.5%;
}

  .body{
    /*-webkit-box-shadow: 2.5px 2.5px 28px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2.5px 2.5px 28px 0px rgba(0,0,0,0.75);
  box-shadow: 2.5px 2.5px 28px 0px rgba(0,0,0,0.75);*/
  }
